BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
chardet==2.3.0
decorator==4.0.6
Django==1.9.5
django-bootstrap3==7.0.1
django-tables2==1.2.3
enum34==1.1.6
gunicorn==19.6.0
html5lib==0.999
httplib2==0.9.1
ipython==2.4.1
line-profiler==1.0
lxml==3.6.0
numpy==1.11.1rc1
pexpect==4.0.1
Pillow==3.2.0
ptyprocess==0.5.1
pycurl==7.43.0
pygobject==3.20.1
pyinotify==0.9.6
python-apt==1.1.0b2
python-debian==0.1.28
python-debianbts==2.6.0
pyxdg==0.25
reportbug==6.6.6
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.13
