<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <table>
            {% for ogun in oguns %}
                <tr>
                    <th><a href="{{ ogun.link }}">link</a></th>
                    <th>{{ ogun.ects }}</th>
                    <th>{{ ogun.date_of_lessons }}</th>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if oguns.has_previous %}
                    <a href="?page={{ oguns.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ oguns.number }} of {{ oguns.paginator.num_pages }}.
                </span>

                {% if oguns.has_next %}
                    <a href="?page={{ oguns.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </body>
</html>